*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    text-align: center;
    padding: 5%;
  }
  
  /*delete modal css strts here */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #8e94a0;
    padding-top: 50px;
  }
  .modal-content {
    background-color: #f0caca;
    margin: 5% auto 15% auto;
    border: 1px solid rgb(172, 165, 165);
    width: 80%;
    padding: 5%;
  }
  .clearfix button {
    margin: 2%;
  }
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    color: #f1f1f1;
    font-weight: bold;
  }
  .close:hover, .close:focus {
    cursor: pointer;
    color: #d67d29;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .deleteModal {
    padding: 16px;
    text-align: center;
  }
  .deleteModal .delete {
    background-color: #2d6d97;
    color: white;
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }
  button:hover {
    opacity: 1;
  }
  .cancelbtn {
    background-color: #ccc;
    color: black;
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }
  .deletebtn {
    background-color: #7c0d05;
    color: white;
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }
  @media screen and (max-width: 600px) {
    .cancelbtn, .deletebtn {
      width: 100%;
    }
  }
  /*delete modal css ends here */