<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/basicfrontendpagewithsearchbar.css' />
  </head>
  <body>
    <div class="grid-container">
      <div class="item1 header">
        <div class="icon-bar-menu">
          <a href="javascript:void(0);" class="icon" type="button">
            <i class="fa fa-bars"></i>
          </a>          
        </div>
        <div class="brand-logo">
          <h2>Brand Logo</h2>
        </div>
        <div class="sign-in">
          <a href="#">Sign in</a>
        </div>

        <div class="navbar-side">
          <a href="#" onclick="closeMenuBar()">Close Menu</a>
          <form>
            <input name="search" type="search" placeholder="Search..."/><button type="submit" onclick="closeMenuBar()"><i class="fa fa-search"></i></button>
          </form>
          <a href="#" onclick="closeMenuBar()">Sign in</a>
          <a href="#" onclick="closeMenuBar()">Become a Delivery Employee</a>
          <a href="#" onclick="closeMenuBar()">Create a Business Account</a>
          <a href="#" onclick="closeMenuBar()">Add Your Shop</a>
          <a href="#" onclick="closeMenuBar()">Create a Customer Account</a>
          <a href="#" onclick="closeMenuBar()">Download App (For iPhone)</a>
          <a href="#" onclick="closeMenuBar()">Download App (For Android)</a>
          <a href="#" onclick="closeMenuBar()">Contact</a>
        </div>

      </div>

      <div class="item2">
        Menu

      </div>

      <div class="item3 main">
        <div class="container search-bar">
          <h1>Search your favourite Shop here...</h1>
          <form>
            <input placeholder="Search Shop here..."/><button>Search Shop</button>
          </form>
          
        </div>
        
      </div>
      <div class="item4">
        Right
        
      </div>

      <div class="item5 footer">
        <div class="row">
          <div class="column column-left">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>
          <div class="column column-middle">
            <div class="row">
              <div class="middle-col-left-part">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Complain</a>
                <a href="#">Pricing</a>
              </div>
              <div class="middle-col-right-part">
                <a href="#">About us</a>
                <a href="#">Contact us</a>
                <a href="#">Career</a>
                <a href="#">Sitemap</a>
                
              </div>
            </div>
            
          </div>
          <div class="column column-right"> 
            <button>
              <i class="fa fa-apple"></i>
              <br/>
              <span>Apple App</span> 
            </button>
            <button>
              <i class="fa fa-play"></i>
              <br/>
              <span>Android App</span>
            </button>
           <br/>
            <span>&#169; 2020 Home Delivery Services</span>
            
            
          </div>
        </div>
       
      </div>
    </div>
    
    <script src="javascripts/basicfrontendpagewithsearchbar.js"></script>
    </body>
    </html>
    

      
