
    <div class="item item5 footer">

        <button id="taptotopButton" onclick="goToTop()">Go to Top</button>
        <div class="row">          
            <div class="column column-1">
              <h2>Address</h2>
              <address>
                VPO - Alahar, <br/> 
                District - Yamuna Nagar, <br/>
                State - Haryana, <br/>
                Pin - 135133, <br/>
                India <br/>
                Email: <a href="mailto: vipinkmboj20@gmail.com">vipinkmboj20@gmail.com</a> <br/>
                Mobile: <a href="tel: 00919813806752">0091 9813806752</a>

              </address>
              
            </div>
            <div class="column column-2">
              <h2>Subscribe</h2>
              <!--
              <form>
                <label>Enter Your Email</label>
                <input type="email" name="email" placeholder="Please Enter Your Email....."/>
                <input type="submit" value="Subscribe"/>
              </form>
              -->
             
            </div>  
          
          
            
            <div class="column column-4">
              <h2>Social Links</h2> 
              <br/>
              
              <a href="#"><i class="fa fa-linkedin-square" style="font-size:24px"></i></a>
              <a href="#" class="fa fa-linkedin"></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
                   
          
        </div><!---->

    </div>
</div>
<script src="/javascripts/script.js"></script>
</body>
</html>
