
    <div class="item item5 footer">

        <button id="taptotopButton" onclick="goToTop()">Go to Top</button>
        <div class="row">          
            <div class="column column-1">
              <h2>Address</h2>
              
              <address>
                <strong>Physical Address: </strong><br/>
                VPO - Alahar, <br/> 
                District - Yamuna Nagar, <br/>
                State - Haryana (135133)<br/>
                India <br/>
                <strong>Contact Details: </strong><br/>
                Email: <a href="mailto: vipinkmboj20@gmail.com">vipinkmboj20@gmail.com</a> <br/>
                Mobile: <a href="tel: 00919813806752">0091 9813806752</a>
              </address>
              
            </div>
            <div class="column column-2">
              <h2>Hire Me</h2>
              
              <form action="/subscribe" method="POST" role="form">
                <label>Enter Mobile Number</label>
                <input type="number" name="mobilenumber" placeholder="Please Enter Your Mobile Number....." required/><br/>
                <label>Enter Your Emai</label>
                <input type="email" name="email" placeholder="Please Enter Your Email....." required/><br/>

                <input type="submit" value="Submit"/>
              </form>
            
             
            </div>  
          
          
            
            <div class="column column-3">
              <h2>Social Links</h2> 
              <br/>             
              
              <a href="https://www.linkedin.com/in/vipin-kumar-0a9765209/" target="_blank" title="linkedin"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/vipinkmboj" target="_blank" title="github"><i class="fab fa-github"></i></a>
            </div>
                   
          
        </div><!---->

    </div>
</div>
<script src="/javascripts/script.js"></script>
</body>
</html>
