
<%- include('header')  %>
<div class="item2"></div>

<div class="item item3 main">
    <div class="container welcome" id="homecontent"> <!--welcome div--> 
              <% if(msg != '') {%> 
                <h1 style="color: whitesmoke"> <%= msg %> </h1>  
              <% } %>
               <!--<h1><a href="#" style="color: royalblue;">Note: Web Site Under Construction!</a></h1>-->
               
               <h1 style="text-align: center;"><strong><a href="/">Portfolio</a></strong></h1> 
               <!--<h1 style="margin-top: 0; text-align: center;">a Web-Developer</h1>-->
               <div class="row">           
                <div class="column column-left">
                  <h2 id="hello">Hello,</h2>
                  <h2 id="vipinkumar">I am <strong><em><a href="/">Vipin Kumar,</a></em></strong></h2> 
                  <h2 id="webdeveloper">a Web Developer</h2>
                  <div class="anchor-block">
                    <a id="resume-dropdown" href="#resumecontent" title="Resume">Resume</a>
                    <a href="#myworkcontent" title="My Work">My Work</a>
                    <a href="#contactcontent" title="Contact">Contact</a>
                  </div>  
                                    
                </div>
                <div class="column column-right">
                  <a href="/"><img src="../images/20210724_104940.jpg" width="90%" height="430px"/></a>
                  
                  
                </div>
          </div><!--row div ends-->
          <div class="row row-2">
            <div class="column">
              <a href="#myskillscontent" style="color: whitesmoke;" title="My Skills">Technical Skills</a>
              <a href="https://www.linkedin.com/in/vipin-kumar-0a9765209/" style="color: whitesmoke;" target="_blank" title="Visit Linkedin">Visit Linkedin</a>
              <a href="https://github.com/vipinkmboj" style="color: whitesmoke;" target="_blank" title="Visit Github">Visit Github</a>
            </div>
          </div>
    </div>
    <!--welcome div ends here-->     
     
    
     <!-- Resume Content Stats here-->     
     <div class="resume" id="resumecontent">
          <h2>Resume</h2>
          <div id="resume-button-div">
            <a href="resume/vipinresume2021.htm" target="_blank" title="Preview">Preview</a><a href="resume/vipinresume2021.docx" title="Download"><i class="fa fa-download"></i> Download</a>
          </div>                    
     </div>    
     <!-- Resume Content ends here-->
     <!--My Skills-->
     <div class="my-skills" id="myskillscontent">
        
          <h2>Technical Skills</h2>
        <div class="row row-1">
          <div class="column col-1">
            <h3>Full Stack</h3>
            <ul>
              <li>HTML5 (Frontend)</li>
              <li>css3 (Frontend)</li>
              <li>javaScript (Frontend)</li>
              <li>Bootstrap (Pursuing)</li>
              <li>React js (Pursuing)</li>
              <li>node js (Backend)</li>
              <li>Express js (Backend)</li>
              <li>Mongo Db (Database)</li>
              <li>AWS EC2 Instance (Deployment)</li>
              <li>AWS SES (Simple Email Services)</li>
              <li>AWS Route53 (Web Hosted Zone)</li>
            </ul>
          </div>
          <div class="column col-2">
            <h3>Other Skills</h3>
            <ul>
              <li>Git Bash</li>
              <li>Git hub</li>
              <li>Putty (Remote Access Server)</li>
              <li>FileZilla (Remote Access Server)</li>
              <li>Command Prompt</li>
              <li>Cloudflare (Security)</li>
              <li>Digital Ocean (Web Hosting)</li>
              <li>Miles Web (Business Email etc.)</li>
              <li>Microsoft Technology Assosiate Certified</li>
              <li>Udemy Certified</li>
            </ul>
          </div>
        </div>
     </div>

     <!--My Work-->
     <!--My Skills-->
     <div class="my-skills" id="myworkcontent">
        
      <h2>My Work</h2>
    <div class="row row-1">
      <div class="column col-1">
        <h3>Projects (Preview)</h3>
        <ul>
          <li><a href="https://www.thevipin.com" style="text-decoration: none;" target="_blank">www.thevipin.com</a></li>
          <li><a href="/basicfrontendpagewithsearchbar" style="text-decoration: none;" target="_blank">Basic Front End Page With Search Bar</a></li>
          <li><a href="/basiccalculator" style="text-decoration: none;" target="_blank">Basic Calculator</a></li>
          <li><a href="/responsivenavbar" style="text-decoration: none;" target="_blank">Responsive Navbar</a></li>
          <li><a href="/frontendjavascript" style="text-decoration: none;" target="_blank">Front End Javascript</a></li>
          <li><a href="/modalpractice" style="text-decoration: none;" target="_blank">Simple Modal Sample</a></li>
          <li><a href="/confirmbeforedeletingmodal" style="text-decoration: none;" target="_blank">Confirm Before Deleting (Modal)</a></li>
          <li><a href="https://www.niketpaultry.com" target="_blank">www.niketpaultry.com </a></li>
        </ul>       
      </div>
      <div class="column col-2">
        <h3>Github Links</h3>
        <ul>
          <li><a href="https://github.com/vipinkmboj/thevipin.com" target="_blank">www.thevipin.com</a></li> 
          <li><a href="https://github.com/vipinkmboj/basicfrontendpagewithsearchbar" style="text-decoration: none;" target="_blank">Basic Front End Page With Search Bar</a></li>
          <li><a href="https://github.com/vipinkmboj/basiccalculator" style="text-decoration: none;" target="_blank">Basic Calculator</a></li>
          <li><a href="https://github.com/vipinkmboj/responsivenavbar" style="text-decoration: none;" target="_blank">Responsive Navbar</a></li>
          <li><a href="https://github.com/vipinkmboj/frontendjavasscript" style="text-decoration: none;" target="_blank">Front End Javascript</a></li>
          <li><a href="https://github.com/vipinkmboj/modalpractice" style="text-decoration: none;" target="_blank">Simple Modal Sample</a></li>
          <li><a href="https://github.com/vipinkmboj/confirmbeforedeletemodalusinghtmlcssjavascript" style="text-decoration: none;" target="_blank">Confirm Before Deleting (Modal)</a></li>
          <li><a href="https://github.com/vipinkmboj/niketpaultry.com" target="_blank">www.niketpaultry.com </a></li>
        </ul>
      </div>
    </div>
 </div>
      <!-- My Skills Content Stats here-->     
      <!--
      <div class="my-work" id="myskillscontent">
        <h2>Technical Skills</h2>
        
        <div class="row">
          <div class="column column-left">
            <h3 style="text-align: center; margin-top: 1em;">Full-Stack</h3>
            <ul>
              <li>HTML5 (Frontend)</li>
              <li>css3 (Frontend)</li>
              <li>javaScript (Frontend)</li>
              <li>Bootstrap (Pursuing)</li>
              <li>React js (Pursuing)</li>
              <li>node js (Backend)</li>
              <li>Express js (Backend)</li>
              <li>Mongo Db (Database)</li>
              <li>AWS EC2 Instance (Deployment)</li>
              <li>AWS SES (Simple Email Services)</li>
              <li>AWS Route53 (Web Hosted Zone)</li>
            </ul>                
          </div>
          <div class="column column-right">
              <h3 style="text-align: center; margin-top: 1em;">Other-Skills</h3>
              <ul>
                <li>Git Bash</li>
                <li>Git hub</li>
                <li>Putty (Remote Access Server)</li>
                <li>FileZilla (Remote Access Server)</li>
                <li>Command Prompt</li>
                <li>Cloudflare (Security)</li>
                <li>Digital Ocean (Web Hosting)</li>
                <li>Miles Web (Business Email etc.)</li>
                <li>Microsoft Technology Assosiate Certified</li>
                <li>Udemy Certified</li>
              </ul>
          </div>
        </div>   
      </div>   
      -->                     
   <!-- My Skills Content ends here-->

   
        <!-- my-work Content Stats here-->
        <!--
     <div class="my-work" id="myworkcontent">
          <h2>My Work</h2>
          
          <div class="row">
            <div class="column column-left">
              <h3 style="text-align: center;">Projects (Preview)</h3>
              <ul>
                <li><a href="https://www.thevipin.com" style="text-decoration: none;" target="_blank">www.thevipin.com</a></li>
                <li><a href="/basicfrontendpagewithsearchbar" style="text-decoration: none;" target="_blank">Basic Front End Page With Search Bar</a></li>
                <li><a href="/basiccalculator" style="text-decoration: none;" target="_blank">Basic Calculator</a></li>
                <li><a href="/responsivenavbar" style="text-decoration: none;" target="_blank">Responsive Navbar</a></li>
                <li><a href="/frontendjavascript" style="text-decoration: none;" target="_blank">Front End Javascript</a></li>
                <li><a href="/modalpractice" style="text-decoration: none;" target="_blank">Simple Modal Sample</a></li>
                <li><a href="/confirmbeforedeletingmodal" style="text-decoration: none;" target="_blank">Confirm Before Deleting (Modal)</a></li>
                <li><a href="https://www.niketpaultry.com" target="_blank">www.niketpaultry.com </a></li>
              </ul>                
            </div>
            <div class="column column-right">
                <h3>Projects (Github Links)</h3>
                <ul>
                  <li><a href="https://github.com/vipinkmboj/thevipin.com" target="_blank">www.thevipin.com</a></li> 
                  <li><a href="https://github.com/vipinkmboj/basicfrontendpagewithsearchbar" style="text-decoration: none;" target="_blank">Basic Front End Page With Search Bar</a></li>
                  <li><a href="https://github.com/vipinkmboj/basiccalculator" style="text-decoration: none;" target="_blank">Basic Calculator</a></li>
                  <li><a href="https://github.com/vipinkmboj/responsivenavbar" style="text-decoration: none;" target="_blank">Responsive Navbar</a></li>
                  <li><a href="https://github.com/vipinkmboj/frontendjavasscript" style="text-decoration: none;" target="_blank">Front End Javascript</a></li>
                  <li><a href="https://github.com/vipinkmboj/modalpractice" style="text-decoration: none;" target="_blank">Simple Modal Sample</a></li>
                  <li><a href="https://github.com/vipinkmboj/confirmbeforedeletemodalusinghtmlcssjavascript" style="text-decoration: none;" target="_blank">Confirm Before Deleting (Modal)</a></li>
                  <li><a href="https://github.com/vipinkmboj/niketpaultry.com" target="_blank">www.niketpaultry.com </a></li>
                </ul>
            </div>
          </div> 
          <div class="row row-2" >
            <em><strong>Please Note: </strong><span> I have few more serious projects on the list as well.</span></em>
          </div>
        </div>    
        -->                    
        <!-- my-work Content ends here-->            
            
        <!-- Contact Content Stats here-->
     <div class="contact" id="contactcontent">
      <h2>Contact</h2>
      
      <form action="/contactus" method="POST" role="form">
                <label for="firstname">First Name</label><br/>
                <input name="firstname" type="text" placeholder="Enter Your First Name..." required/><br/><br/>
                <label for="lastname">Last Name</label><br/>
                <input name="lastname" type="text" placeholder="Enter Your Last Name..." required/><br/><br/>
                <label for="mobilenumber">Mobile Number</label><br/>
                <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required/><br/><br/>
                <label for="email">Email</label><br/>
                <input name="email" type="email" placeholder="Enter Your Email id..." required/><br/><br/>
                <label>Write Message</label><br/>
                <textarea name="writemessage" type="text" placeholder="Enter Your Message here...">

                </textarea><br/><br/>
                <div class="contact-button">
                  <button type="submit">Submit</button><button type="reset">Reset</button><br/><br/>
                </div>
                <br/>
                <div class="contact-anchor-tags">
                  <span>Call Now: <a href="tel: +919813806752" style="color: whitesmoke;">0091 9813806752</a></span>
                </div>
      </form> 
         
     </div>                        
    <!-- Contact Content ends here-->            

</div> <!--main div ends here-->    
    
<div class=" item4"></div>



<%- include('footer') %> 