
<%- include('header')  %>
<div class="item2"></div>

<div class="item item3 main">
    <div class="container welcome" id="homecontent"> <!--welcome div--> 
              <% if(msg != '') {%> 
                <h1 style="color: whitesmoke"> <%= msg %> </h1>  
              <% } %>
               <!--<h1><a href="#" style="color: royalblue;">Note: Web Site Under Construction!</a></h1>-->
               
               <h1 style="text-align: center;"><strong><a href="/">Portfolio</a></strong></h1> 
               <!--<h1 style="margin-top: 0; text-align: center;">a Web-Developer</h1>-->
               <div class="row">           
                <div class="column column-left">
                  <h2 id="hello">Hello,</h2>
                  <h2 id="vipinkumar">I am <strong><em><a href="/">Vipin Kumar,</a></em></strong></h2> 
                  <h2 id="webdeveloper">a Web Developer</h2>
                  <div class="anchor-block">
                    <a id="resume-dropdown" href="#resumecontent" >Resume</a>
                    <a href="#myworkcontent">My Work</a>
                    <a href="#contactcontent">Contact</a>
                  </div>                    
                </div>
                <div class="column column-right">
                  <a href="/"><img src="../images/20210724_104940.jpg" width="90%" height="430px"/></a>
                  
                  
                </div>
          </div><!--row div ends-->
          <div class="row row-2">
            <div class="column">
              <a href="https://www.linkedin.com/in/vipin-kumar-0a9765209/" style="color: whitesmoke;" target="_blank">Visit Linkedin</a>
              <a href="https://github.com/vipinkmboj" style="color: whitesmoke;" target="_blank">Visit Github</a>
            </div>
          </div>
    </div>
    <!--welcome div ends here-->     
     
    
     <!-- Resume Content Stats here-->     
     <div class="resume" id="resumecontent">
          <h2>Resume</h2>
          <div id="resume-button-div">
            <a href="resume/vipinkumarresume2021.htm" target="_blank">Preview</a><a href="resume/vipinresume2021.docx"><i class="fa fa-download"></i> Download</a>
          </div>                    
     </div>    
     <!-- Resume Content ends here-->

        <!-- my-work Content Stats here-->
     <div class="my-work" id="myworkcontent">
          <h2>My Work</h2>
          
          <div class="row">
            <div class="column column-left">
              <h3 style="text-align: center;">Practice Projects</h3>
              <ul>
                <li><a href="https://www.thevipin.com" style="text-decoration: none;" target="_blank">www.thevipin.com</a></li>

              </ul>                
            </div>
            <div class="column column-right">
                <h3>Web Sites</h3>
                <ul>
                  <li><a href="https://www.niketpaultry.com" target="_blank">www.niketpaultry.com (Currently pending)</a></li>
                                    
                </ul>
            </div>
          </div>   
        </div>                        
        <!-- my-work Content ends here-->            
            
        <!-- Contact Content Stats here-->
     <div class="contact" id="contactcontent">
      <h2>Contact</h2>
      
      <form action="/contactus" method="POST" role="form">
                <label for="firstname">First Name</label><br/>
                <input name="firstname" type="text" placeholder="Enter Your First Name..." required/><br/><br/>
                <label for="lastname">Last Name</label><br/>
                <input name="lastname" type="text" placeholder="Enter Your Last Name..." required/><br/><br/>
                <label for="mobilenumber">Mobile Number</label><br/>
                <input name="mobilenumber" type="tel" placeholder="Enter Your Mobile Number..." required/><br/><br/>
                <label for="email">Email</label><br/>
                <input name="email" type="email" placeholder="Enter Your Email id..." optional/><br/><br/>
                <label>Write Message</label><br/>
                <textarea name="writemessage" type="text" placeholder="Enter Your Message here...">

                </textarea><br/><br/>
                <div class="contact-button">
                  <button type="submit">Submit</button><button type="reset">Reset</button><br/><br/>
                </div>
                <br/>
                <div class="contact-anchor-tags">
                  <span>Call Now: <a href="tel: +919813806752" style="color: whitesmoke;">0091 9813806752</a></span>
                </div>
      </form> 
         
     </div>                        
    <!-- Contact Content ends here-->            

</div> <!--main div ends here-->    
    
<div class=" item4"></div>



<%- include('footer') %> 