<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/modalpractice.css"/>
    <title>Modal</title>
</head>
<body>
    <div class="welcome">
        <h1>Click on Button to open the Modal</h1>
    <button>Open Modal</button>
    </div>

    <div class="modal-parent">
        <div class="modal">
            <h1 style="text-align: center;">Modal</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente blanditiis id accusantium voluptates deleniti, necessitatibus molestias doloribus temporibus alias praesentium? Nam sequi animi incidunt aut accusamus illum ipsum natus esse.
            </p>
            <span class="X">&times;</span>
        </div>
    </div>

    
    <script src="javascripts/modalpractice.js"></script>
</body>
</html>